{% extends 'base.html' %}

{% block extra_css %}
<link rel="stylesheet" href="/static/css/diff.css" />
{% endblock %}

{% block extra_js %}
<script src="/static/js/helpers.js"></script>
{% endblock %}

{% block mainbody %}
<div class="container-fluid">
    <!--modal displayed while collecting output from devices-->
    <div class="modal fade bs-example-modal-sm" id="myPleaseWait" tabindex="-1"
         role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Please Wait while output is collected
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="progress">
                        <div class="progress-bar progress-bar-info
                        progress-bar-striped active"
                             style="width: 100%">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--modal for collecting user credentials-->
    <div class="modal fade bs-example-modal-sm" id="credentials" tabindex="-1" role="dialog" aria-hidden="true" data-backdrop="static">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">
                        Please Enter your device credentials
                    </h4>
                </div>
                <div class="modal-body">
                    <div class="wrapper">
                        <form action="/cr/{{change.cr}}/snap" class="form-signin" method="post">
                            <h5 class="form-signin-heading">we will never store your credentials</h5>
                            <input type="text" class="form-control" name="username" placeholder="username" required="" autofocus="" />
                            <input type="password" class="form-control" name="password" placeholder="password" required=""/>
                            <button class="btn btn-lg btn-primary btn-block" onclick="submitCreds()">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--main panel-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <button onclick="deleteCR('/cr/{{ change.cr}}')" class="btn btn-danger btn-md pull-right">Delete this delta</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                The following devices will be checked:
                <ul class="list-group">
                    {% for host in hosts %}
                    <li class="list-group-item">{{ host }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-6">
                The following commands will be captured:
                <ul class="list-group">
                    {% for command in commands %}
                    <li class="list-group-item">{{ command }}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
        <hr/>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 text-center">
                <button onclick="showmodal('/cr/{{change.cr}}/snap');" class="btn btn-default btn-lg">Take Snap
                    <span class="glyphicon glyphicon-camera"></span>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <h1>
                    <span>Baseline</span>
                </h1>
            </div>
            <div class="col-lg-6">
                <h1>
                    <span>Now</span>
                </h1>
            </div>

        </div>
    </div>
    <div class="row">

        {{ table|safe }}
    </div>
</div>

{% endblock %}
